In [1]:
import pandas as pd

In [2]:
# read the file
open_file = pd.read_csv('log.txt',delimiter='|')
open_file

,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359
0,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244
1,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c
2,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003
3,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643
4,Building data pipelines,success,89328463492,Paris;France,1600093768000,1480:2795:2b3a:428e:1023:fa04:586c:90b1
...,...,...,...,...,...,...
994,Data governance,success,89328464482,Texas;USA,1593117157000,e1b6:24be:69e6:7835:281b:d015:bc04:4150
995,Optimizing database performance,failed,89328464483,California;USA,1597399201000,18de:15cb:f964:bc62:491:9d79:da3f:a6fd
996,Optimizing database performance,success,89328464484,Texas;USA,1607161055000,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75
997,Building data pipelines,success,89328464485,Texas;USA,1588130663000,3336:1461:f197:bad9:705f:7dd:8c59:a5e4
998,Designing and implementing data models,success,89328464486,New York;USA,1604987132000,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e

In [3]:
task_df = pd.DataFrame(open_file)

In [4]:
# Rename the columns
task_df = task_df.rename(columns=
                {
    'Data quality assurance' : 'task',
    'success' : 'status',
    '89328463487' : 'tracker_ID',
    'Florida;USA' : 'server_region',
    '1599093305000' : 'date',
    '464f:bdbd:1d:535a:2dad:5117:a92f:b359' : 'server'
}
               )

In [5]:
task_df

,task,status,tracker_ID,server_region,date,server
0,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244
1,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c
2,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003
3,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643
4,Building data pipelines,success,89328463492,Paris;France,1600093768000,1480:2795:2b3a:428e:1023:fa04:586c:90b1
...,...,...,...,...,...,...
994,Data governance,success,89328464482,Texas;USA,1593117157000,e1b6:24be:69e6:7835:281b:d015:bc04:4150
995,Optimizing database performance,failed,89328464483,California;USA,1597399201000,18de:15cb:f964:bc62:491:9d79:da3f:a6fd
996,Optimizing database performance,success,89328464484,Texas;USA,1607161055000,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75
997,Building data pipelines,success,89328464485,Texas;USA,1588130663000,3336:1461:f197:bad9:705f:7dd:8c59:a5e4
998,Designing and implementing data models,success,89328464486,New York;USA,1604987132000,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e

In [6]:
#remove white spaces
def remove_white_spaces(text):
    if type(text) == str:
        return text.strip()
    return text

task_df['server_region'] = task_df['server_region'].apply(remove_white_spaces)

In [7]:
# split thr server region to country and city
def city(text):
    results = text.split(';')[0]
    return results


task_df['city'] = task_df['server_region'].apply(city)

def country(text):
    results = text.split(';')[1]
    return results


task_df['country'] = task_df['server_region'].apply(country)

In [8]:
# convert timestamp to date month,year format
task_df['date'] = pd.to_datetime(task_df['date']).dt.date

In [9]:
# save to csv
columns = ['task', 'status', 'tracker_ID', 'date', 'server', 'city', 'country'] 
log_df = task_df[columns]

log_df.to_csv('log_of_details.csv')